goolge cloud 相關資料存放區/zc-1-417715-449ff6a8e79b.json
zctの資料存放區/application_default_credentials.json
zctの資料存放區/zc-1-417715-449ff6a8e79b.json
.angular/
/鍾昀臻/flutter_application_1/.dart_tool/chrome-device/Default
系統文件初/~$系統手冊.docx
